<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>jaxws-service-with-pojo</display-name>

	<servlet>
		<display-name>UserService</display-name>
		<servlet-name>UserService</servlet-name>
		<servlet-class>org.ws.samples.jaxws.pojo.UserServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserService</servlet-name>
		<url-pattern>/ws/userService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>helloBean</servlet-name>
		<servlet-class>org.ws.samples.jaxws.pojo.HelloBean</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>helloBean</servlet-name>
		<url-pattern>/ws/hello</url-pattern>
	</servlet-mapping>

	<resource-ref>
		<res-ref-name>jdbc/ws-sample-ds</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>